.Ben #game td.square {
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    background: #d8d8d8;
    transition: 0.3s 0.1s all;
}

.Ben #game td.square.blank:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    /*background: #e15e30;*/
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.Ben #game td#face {
    /* background: #c0c0c0; */
    padding-bottom: 5px;
}

.Ben #game td#face div {
    font-size: 20px;
    opacity: 0.5;
    transition: 0.25s all, 0.5s transform;
    margin: auto;
    cursor: pointer;
    width: max-content;
}

.Ben #game td#face div:hover {
    font-size: 20px;
    opacity: 1;
    transform: rotate(360deg) scale(1.2, 1.2);
}

.Ben #game td.square.blank {
    background: #e8e8e8;
    border: 1px solid #cecece;
    cursor: pointer;
}

.Ben .open0:after {
    content: '';
}

.Ben .open1:after {
    content: '1';
    color: #0000ff;
}

.Ben .open2:after {
    content: '2';
    color: #007b00;
}

.Ben .open3:after {
    content: '3';
    color: #ff0000;
}

.Ben .open4:after {
    content: '4';
    color: #00007b;
}

.Ben .open5:after {
    content: '5';
    color: #7b0000;
}

.Ben .open6:after {
    content: '6';
    color: #007b7b;
}

.Ben .open7:after {
    content: '7';
    color: #000;
}

.Ben .open8:after {
    content: '8';
    color: #7b7b7b;
}

.Ben #game td#face div.facesmile {
    background-image: unset;
}

.Ben .facesmile:after {
    content: '🙂';
}

.Ben .facepressed {
    background-position: -26px -55px;
    width: 26px;
    height: 26px
}

.Ben .faceooh {
    background-position: -52px -55px;
    width: 26px;
    height: 26px
}

.Ben #game td#face div.facedead {
    background-image: unset;
}

.Ben .facedead:after {
    content: '😥';
}

.Ben #game td#face div.facewin {
    background-image: unset;
}

.Ben .facewin:after {
    content: '😎';
}

.Ben .bombflagged:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f024";
}

.Ben .bombdeath:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1e2";
    /* content: "\f013"; */
    color: red;
}

.Ben .bombmisflagged:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f11d";
    color: red;
}

.Ben .bombrevealed:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1e2";
    /* content: "\f013"; */
}